<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		
		<add key="BingKey" value="wELZ8JGSYBf5ovMKcifa~CamOP5ElvSLajKfh_0P0fw~AgqC0Eivp2dzellizNOvJlDCcuRjdvo1q3vpbZfue0JzHQjLIxN7kokVU1idwI74"/>
		
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>